<div class="rir-config">
    <h2>Inbox settings</h2>
    <div class="rir-checkbox">
        <input type="checkbox" id="RirShowModMail">
        <label for="RirShowModMail">Show modmail</label>
    </div>
    <h2>Message thread settings</h2>
    <div class="rir-checkbox">
        <input type="checkbox" id="RirNewFirst">
        <label for="RirNewFirst">New messages first</label>
    </div>
    <h2>Actions</h2>
    <button id="RirResetInbox">Reset inbox</button>
    <button id="RirExportMessages">Export messages</button>
    <h2>Links</h2>
    <a href="/r/InboxRevamp/">Support</a>
</div>