<div class="rir-config rir-slide-in">
    <h2>Reddit Inbox Revamp - Dashboard</h2>
    <div class="rir-config-body">
        <div class="rir-config-tabs">
            <div class="rir-config-tab rir-active-tab" data-tab="about">About</div>
            <div class="rir-config-tab" data-tab="settings">General settings</div>
            <div class="rir-config-tab" data-tab="admin">Administration</div>
            <div class="rir-config-tab" data-tab="conversation">Message-thread options</div>
        </div>
        <div class="rir-config-content-panel">
            <div class="rir-config-content rir-active-tab" data-tab-content="about">
                <h3>About</h3>
                <p>
                    Reddit Inbox Revamp was created by <a href="/u/Goctionni">/u/Goctionni</a>. The goal of this
                    extension is to improve on the default inbox. Many of the improvements are inspired by the design
                    and workflow in GMail, though especially with changes implemented at a later time; inspiration
                    also often comes from suggestions.
                </p>
                <h3>Feedback and Support</h3>
                <p>
                    I am always open to feedback and suggestions, and will try to help you if you're having
                    problems. The best place for this is to post on the <a href="/r/inboxrevamp">/r/inboxrevamp</a>
                    subreddit.
                </p>
                <h3>Developers</h3>
                <p>
                    Reddit Inbox Revamp is an open source project and the full source-code can be found on
                    <a href="https://github.com/Goctionni/RedditInboxRevamp">Github</a>. You can view the source
                    or post bugs/requests on Github, pull requests and the like are also welcome.
                </p>
            </div>
            <div class="rir-config-content" data-tab-content="settings">
                <h3>General settings</h3>
                <div class="rir-checkbox">
                    <input type="checkbox" id="RirShowModMail">
                    <label for="RirShowModMail">Show modmail</label>
                </div>
                <p class="rir-config-info">
                    If you are a moderator of one or multiple subreddits, you may or may not want to see your
                    modmail mixed in with your regular messages. The the long term the plan for Reddit Inbox Revamp
                    is to have a separate page dedicated to viewing modmail; however for now you can choose whether
                    or not you want to see the modmail in your regular inbox.
                </p>
                
                <div class="rir-checkbox">
                    <input type="checkbox" id="RirEnhancedVisibility">
                    <label for="RirEnhancedVisibility">Enhance visibility</label>
                </div>
                <p class="rir-config-info">
                    Some icons and buttons may not stand out as much as you would like them to, in the default setup.
                    To help those who find the default theme not clear enough, enabling this option will enhance
                    the visibility of some of the design elements that would otherwise blend in with their background.
                </p>
                
                <div class="rir-checkbox">
                    <input type="checkbox" id="RirShowDraftIndicator">
                    <label for="RirShowDraftIndicator">Show draft indicators</label>
                </div>
                <p class="rir-config-info">
                    Enabling this option will show a <i>(Draft)</i> indicator on message-threads for which a draft
                    has been saved.
                </p>
            </div>
            <div class="rir-config-content" data-tab-content="admin">
                <h3>Administration</h3>
                <h4>Reset inbox</h4>
                <button id="RirResetInbox" class="rir-round-action-button"><span class="rir-icon"></span></button>
                <p class="rir-config-info">
                    If something has gone wrong, if somehow the data in your inbox has been corrupted or messages have
                    gone missing somehow... You can use this option to clear out your inbox and restart from scratch.
                    Do note however: Reddit normally will not store more than 1000 private messages. Reddit Inbox Revamp
                    stores your messages locally and will store more than 1000 messages. If you have more than a thousand
                    messages, using this option means that you will lose your oldest messages.
                </p>
                <hr>
                <h4>Export messages</h4>
                <button id="RirExportMessages" class="rir-round-action-button"><span class="rir-icon"></span></button>
                <p class="rir-config-info">
                    If for some reason you wish to export your entire inbox, you can do this. There currently is no way
                    to import your data back into Reddit inbox Revamp, however this may allow you to import your data
                    into a different application. Several export formats are available.
                </p>
            </div>
            <div class="rir-config-content" data-tab-content="conversation">
                <h3>Message-thread options</h3>
                <div class="rir-checkbox">
                    <input type="checkbox" id="RirNewFirst">
                    <label for="RirNewFirst">New messages first</label>
                </div>
                <p class="rir-config-info">
                    By default, messages in a message-thread are sorted from old to new. Showing the first message at the top
                    and the last message at the bottom. If you have many long and active message threads, it might be more
                    practical to see the latest message at the top instead. This option allows you to reverse the sorting
                    so that messages are sorted from new to old inside a message thread.
                </p>
            </div>
        </div>
    </div>
    <div class="rir-config-footer">
        <button class="rir-cancel-button">Cancel</button>
        <button class="rir-save-button">Save changes</button>
    </div>
</div>