            <div class="rir-contact">
                <a href="#" title="{username}" class="rir-contact-name">{username}</a>
                <span class="rir-contact-buttons">
                    <a href="/user/{username}" target="_blank" class="rir-view-profile" title="View profile"></a>
                    <a href="/message/compose/?to={username}" target="_blank" class="rir-send-message" title="Send message"></a>
                    <a href="?search=from:{username}" class="rir-show-messages" title="Show messages"></a>
                </span>
            </div>
