<div class="rir-top-panel clear-after">
    <div class="rir-message-types">
        <!-- Dropdown for what types of messages to display [ Private messages, Post replies, Comment replies, Modmail? -->
    </div>
    <div class="rir-search-panel">
        <!-- Input and search button -->
        <input type="text" id="RirSearchInput">
        <button id="RirSearchButton">Search</button>
    </div>
    <div class="rir-buttons-panel">
        <!-- Buttons like, delete, save, mark read, mark unread -->
        <button class="rir-left-button" id="RirDelete">Delete</button>
        <button class="rir-right-button" id="RirRestore">Restore</button>
        <button class="rir-left-button" id="RirSave">Save</button>
        <button class="rir-right-button" id="RirUnsave">Unsave</button>
        <button class="rir-left-button" id="RirMarkRead">Mark read</button>
        <button class="rir-right-button" id="RirMarkUnread">Unread</button>
        <button class="rir-config-button" id="RirShowConfig">
            <span class="rir-icon-cog"></span>
        </button>
    </div>
</div>
<div class="rir-content-panels clear-after">
    <div class="rir-left-panel">
        <!-- Inbox, Saved, Filters (?), Contacts -->
        <a href="/message/rir_inbox" class="rir-link rir-inbox">Inbox</a>
        <a href="/message/rir_saved" class="rir-link rir-saved">Saved</a>
        <a href="/message/rir_deleted" class="rir-link rir-deleted">Deleted</a>
        <div class="rir-contacts">
            <h2>Contacts</h2>
        </div>
    </div>
    <div class="rir-main-panel">
        <!-- Checkbox, Correspondent, Title, Text, Date/Time -->
    </div>
</div>
