.rir-checkbox {
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + label {
        position: relative;
        display: inline-block;
        width: 17px;
        height: 17px;
        border: solid #BBB 1px;
        vertical-align: text-bottom;
        overflow: visible;
        white-space: nowrap;
        text-indent: 24px;
        line-height: 16px;
        background-color: #FFF;
        font-size: 12px;
    }
    input[type="checkbox"] + label:before {
        position: absolute;
        content: '';
        transform-origin: 0px 0px;
        transform: rotate(-40deg);
        border: solid transparent 0px;
        border-left: solid #666 3px;
        border-bottom: solid #666 2px;
        margin-top: 7px;
        margin-left: -7px;
        left: 50%;
        top: 0;
        width: 0;
        height: 0;
        opacity: 0;
        transition: opacity ease-out 0.3s 0s, width linear 0.1s 0.3s, height linear 0.1s 0.3s;
    }
    input[type="checkbox"]:checked + label:before {
        width: 15px;
        height: 7px;
        opacity: 1;
        transition: opacity ease-in 0.1s 0s, height linear 0.1s 0s, width linear 0.1s 0.15s;
    }
}
